/*Обнуляющие стили*/

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: #066acd;
}

button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 3px;
}

p {
	margin: 0;
}

/*Стили контейнера*/

.container {
	width: 80%;
	max-width: 900px;
	margin: 20px auto;
	background-color: white;
	padding: 10px 30px 10px 10px;
	border-radius: 10px;
}

.main-title {
	padding: 10px 0;
	margin-bottom: 45px;
	text-align: center;
}

/*Стили для container__task-enter*/

.container__task-enter {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	padding: 5px 5px 5px 20px;
	margin-bottom: 25px;
}

.inp {
	border-radius: 5px;
	font-size: 15px;
	border: 2px solid #d1d3d4;
	width: 75%;
	padding: 5px;
}

.inp:focus {
	outline: none;
	border-color: #0d75ec;
}

.inp:disabled {
	background-color: lightgrey;
	cursor: no-drop;
}

.btn {
	border: none;
	color: #ffffff;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn_add {
	background-color: #0d75ec;
	width: 20%;
	height: 45px;
	font-size: 16px;
	padding: 10px;
}

.btn_add-icon {
	display: none;
}
.btn:disabled {
	background-color: lightgray;
	color: #ffffff;
	cursor: no-drop;
}

/*Стили для container__task-controls*/

.container__task-controls {
	display: flex;
	justify-content: space-between;
	max-height: 50px;
	margin-bottom: 15px;
}

.controls-container {
	display: none;
	gap: 30px;

	padding: 5px 5px 5px 20px;
}

.controls-container.show {
	display: flex;
}

.container-comletedBtn {
	display: flex;
	padding: 5px;
	margin-left: auto;
}

.btn_secondary {
	background-color: rgb(13, 117, 236, 0.8);
	padding: 10px;
}

/*Стили для list*/
.list {
	width: 100%;
	margin: 0;
	padding: 0 0 0 20px;
}

.list__item {
	cursor: move;
	transition: background-color 0.5s;
	background-color: #c5e1e6;
}

.selected {
	opacity: 0.6;
}

.item-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 15px;
}

.inp-checkbox {
	width: 20px;
	height: 20px;
}

.list__text {
	width: 100%;
	overflow-wrap: anywhere;
}

.btn_delete {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #0a2ea4;
	height: 100%;
	width: 30px;
	padding: 5px;
}

.delete-icon {
	width: 20px;
	height: 20px;
}

.btn_add-icon {
	width: 20px;
	height: 20px;
}

/*Медиазапросы*/

@media (min-width: 320px) and (max-width: 345px) {
	#completed {
		padding: 5px;
	}

	.container__task-controls {
		font-size: 10px;
	}

	.btn {
		font-size: 10px;
	}

	.main-title {
		font-size: 30px;
	}

	.inp {
		font-size: 12px;
	}

	.list {
		font-size: 15px;
	}
}

@media (min-width: 346px) and (max-width: 420px) {
	#completed {
		padding: 11px 5px;
	}
}

@media (min-width: 320px) and (max-width: 700px) {
	.container__task-enter {
		padding: 0;
		max-height: 35px;
	}

	.btn_add-icon {
		display: inline-block;
	}

	.container__task-controls {
		flex-direction: column;
		max-height: 100px;
	}

	.controls-container {
		padding: 5px 0px;
	}

	.btn {
		padding: 5px;
	}

	.btn_secondary {
		width: 100%;
	}

	.container-comletedBtn {
		margin-left: 0;
		padding: 5px 0px;
	}

	.container {
		width: 95%;
		padding: 10px;
		margin: 10px auto;
	}

	.main-title {
		margin-bottom: 30px;
	}

	.btn_add {
		max-height: 31px;
		width: 12%;
	}

	.btn_add-text {
		display: none;
	}

	.inp {
		width: 85%;
	}

	.list {
		list-style: none;
		padding: 0;
	}
}

@media (min-width: 421px) and (max-width: 486px) {
	.container__task-controls {
		flex-direction: row;
		gap: 5px;
	}

	.btn_secondary {
		width: auto;
	}

	.btn {
		padding: 10px 5px;
	}

	.btn_add {
		padding: 5px;
	}
}

@media (min-width: 487px) and (max-width: 700px) {
	.container__task-controls {
		flex-direction: row;
		gap: 5px;
	}

	.controls-container {
		justify-content: space-between;
	}

	.btn_secondary {
		width: auto;
	}

	.btn {
		padding: 10px 10px;
	}

	.btn_add {
		padding: 5px;
	}
}
